@import 'reset.scss';

/* -------------------------------------------------- *\
=| Typography
\* -------------------------------------------------- */

$font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, Arial, sans-serif;
$font-size-base: 100%;
$font-size-large: 1.35em;
$font-size-standard: 1em;
$font-size-small: 0.8em;
$line-height: 1.5em;

$font-color: #313131;
$border-color: #E5E5E5;
$bg-hover-color: #F1FAEE;
$text-hover-color: #1D3557;


/* -------------------------------------------------- *\
=| Structure
\* -------------------------------------------------- */

.default-display
{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}


/* -------------------------------------------------- *\
=| Elements
\* -------------------------------------------------- */

HTML, BODY
{
    font-family: $font-family;
    font-weight: 300;
    font-size: $font-size-base;
    line-height: $line-height;
    color: $font-color;
}

BODY
{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

H1 { font-size: 2.5em; line-height: 1em; }
H2 { font-size: 2em; line-height: 1em; }
H3 { font-size: 1.75em; line-height: 1em; }
H4 { font-size: 1.25em; line-height: 1em; }


/* -------------------------------------------------- *\
=| Site/Page Section
\* -------------------------------------------------- */


.header
{
    padding: 0 1em 1em;
    margin-bottom: 2em;
    border-bottom: .05rem solid $border-color;

    H3 
    {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 3em;
        font-size: 1.7em;
    }
}

.search-container
{
    margin: 0 0 1em;
}

.results-list-container
{
    .list-entry
    {
        cursor: pointer;
        margin-bottom: 1.5em;

        H4
        {
            margin-bottom: 0.25em;
        }

        &:hover
        {
            color: $text-hover-color;
            background-color: $bg-hover-color;
        }
    }
}

.results-details-container
{
    H3
    {
        margin-bottom: 0.2em;
    }

    P
    {
        margin-bottom: 0.5em;
    }
}


/* -------------------------------------------------- *\
=| Overrides
\* -------------------------------------------------- */

.btn
{
    cursor: pointer;
}

@media (min-width: 48em) 
{
    .container 
    {
        max-width: 46rem;
    }
}

@media screen and (min-width: 48em) 
{
    .header
    {
        padding-right: 0;
        padding-left: 0;
    }
}


/* -------------------------------------------------- *\
=| Animations
\* -------------------------------------------------- */

.blink 
{
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}
@keyframes blink-animation 
{
    to 
    {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation 
{
    to 
    {
        visibility: hidden;
    }
}